{%
    set classes = [
    'item-block',
    'item-' ~ paragraph.bundle|clean_class,
]
%}
<div class="description">{{ 'Weitere Artikel'|t }}</div>
<div{{ attributes.addClass(classes) }}>
    {{ content }}
</div>
<div class="headline">
    {% block teaser_text_headline %}
        <h2 class="text-headline">
            <a href="{{ url }}" target="_self">{{ label }}</a>
        </h2>
    {% endblock %}
</div>