{% set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'page-front' : 'page-' ~ root_path|clean_class,
    node_type ? 'page-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
] %}
<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
    <script src='https://www.googletagservices.com/tag/js/gpt.js'></script>
    <script>
        googletag.cmd.push(function () {
            googletag.defineOutOfPageSlot('/275365323/Floater_dzw', 'div-gpt-ad-1519220519590-0').addService(googletag.pubads());
            googletag.pubads().collapseEmptyDivs();
            googletag.enableServices();
        });
    </script>
    <script type="text/javascript">
var gaProperty = 'UA-27827668-10';
 
// Disable tracking if the opt-out cookie exists.
var disableStr = 'ga-disable-' + gaProperty;
if (document.cookie.indexOf(disableStr + '=true') > -1) {
  window[disableStr] = true;
}
 
// Opt-out function
function gaOptout() {
  document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
  window[disableStr] = true;
}
</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head-placeholder token="{{ placeholder_token|raw }}">
        <title>{{ head_title|safe_join(' | ') }}</title>
        <css-placeholder token="{{ placeholder_token|raw }}">
            <js-placeholder token="{{ placeholder_token|raw }}">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
                </head>
<body class="{{ attributes.addClass(body_classes).class }}">
{% block api_gtm %}
    {% if gtm_vars %}
        {% embed '@infinite/embeds/api_gtm.html.twig' with gtm_vars %}{% endembed %}
    {% endif %}
{% endblock %}
{% block api_fb %}
    {% if fb_vars %}
        {% embed '@infinite/embeds/api_fb.html.twig' with fb_vars %}{% endembed %}
    {% endif %}
{% endblock %}
<div class="preheader">
    <div class="container">
        <ul class="social-links">
            <div class="site-slogan">Portal für dentales Praxiswissen</div>
            <li class="abo">
                <a href="/abo-anmeldung">
                    <span class="abo_text">Abo</span>
                </a>
            </li>
            <li class="newsletter">
                <a href="/newsletter">
                    <span class="abo_text">Newsletter</span>
                </a>
            </li>
            <li class="mail">
                <a href="mailto:redaktion@dzw.de?subject=DZW-Kontakt&bcc=webmaster@dhug.de" title="Kontakt zur Redaktion">
                    <span class="item-social icon-email">

                    </span>
                </a>
            </li>
            <li class="twitter">
                <a href="https://twitter.com/dzw_portal?lang=de" target="_blank">
                    <span class="item-social icon-twitter">

                    </span>
                </a>
            </li>
            <li class="facebook">
                <a href="https://www.facebook.com/DieZahnarztWoche/" target="_blank">
                    <span class="item-social icon-facebook">

                    </span>
                </a>
            </li>
            <li class="youtube">
                <a href="https://www.youtube.com/DZWTV" target="_blank">
                    <span class="item-social fa fa-youtube">

                    </span>
                </a>
            </li>
            <li class="instagram">
                <a href="https://www.instagram.com/diezahnarztwoche/?hl=de" target="_blank">
                    <span class="item-social fa fa-instagram">

                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- /275365323/Floater_dzw -->
<div id='div-gpt-ad-1519220519590-0'>
    <script>
        googletag.cmd.push(function () {
            googletag.display('div-gpt-ad-1519220519590-0');
        });
    </script>
</div>
<div id="page-wrapper">
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
</div>
<js-bottom-placeholder token="{{ placeholder_token|raw }}">
</body>
</html>
