<div id="threeteaser">
  <div
    class="region-full-content region-teaser-list region-teaser-list-horizontal  swipeable--horizontal region__teasers--horizontal"
    data-view-type="listSwipeableView">
    <div class="container-content container-fixed-content swiper-container-horizontal">
      <div class="teaser-list teaser-list-horizontal swipeable__wrapper list__images--horizontal">
        {#
        /**
         * @file
         * Default theme implementation to display a block.
         *
         * Available variables:
         * - plugin_id: The ID of the block implementation.
         * - label: The configured label of the block if visible.
         * - configuration: A list of the block's configuration values.
         *   - label: The configured label for the block.
         *   - label_display: The display settings for the label.
         *   - module: The module that provided this block plugin.
         *   - cache: The cache settings.
         *   - Block plugin specific settings will also be stored here.
         * - block - The full block entity.
         *   - label_hidden: The hidden block title value if the block was
         *     configured to hide the title ('label' is empty in this case).
         *   - module: The module that generated the block.
         *   - delta: An ID for the block, unique within each module.
         *   - region: The block region embedding the current block.
         * - content: The content of this block.
         * - attributes: array of HTML attributes populated by modules, intended to
         *   be added to the main container tag of this template.
         *   - id: A valid HTML ID and guaranteed unique.
         * - title_attributes: Same as attributes, except applied to the main title
         *   tag that appears in the template.
         * - title_prefix: Additional output populated by modules, intended to be
         *   displayed in front of the main title tag that appears in the template.
         * - title_suffix: Additional output populated by modules, intended to be
         *   displayed after the main title tag that appears in the template.
         *
         * @see template_preprocess_block()
         *
         * @ingroup themeable
         */
        #}


        {#
        /**
         * render block container if id and classes not empty
         */
        #}

        {#{{ kint(use_container) }}#}


        {% if use_container %}
          <{{ block_tag|raw }} {{ attributes }}>
        {% endif %}

        {#
        /**
          * check if label defined and not empty
          */
        #}

        {% if not label is empty and label_display is defined %}

        {#
        /**
          * render label with specific container / div / span ...
          */
        #}
        <{{ title_tag }} {{ title_attributes }}>{{ label }}</{{ title_tag }}>
      {% endif %}

      {% block content %}
        {{ content }}
      {% endblock %}
      <!-- VIDEO DES Monats START -->

      <article role="article" class="teaser teaser-square-small swipeable__item contextual-region swiper-slide-active"
               data-nid="1274"
               data-internal-url="https://www.e-wise.de/parodontitistherapie_Prof_Dr_Jentsch?utm_source=zahnmedizin-hp-dzw&utm_medium=banner&utm_campaign=banner-dzw-online_181201">
        <div class="img-container" itemscope="" itemtype="http://schema.org/imageObject">
          <div class="field">
            <div class="field field_image">
              <picture>
                <!--[if IE 9]>
                <video style="display: none;"><![endif]-->
                <source
                  srcset="/sites/default/files/vdm.jpg"
                  media="all and (min-width: 0px)" type="image/jpeg">
                <!--[if IE 9]></video><![endif]-->
                <img
                  srcset="/sites/default/files/vdm.jpg">
              </picture>
            </div>
          </div>
        </div>
        <span class="article-card-taxonomy-container">

                            <div class="channel">
                              <div class="text-label text-category"
                                   data-internal-url="https://www.e-wise.de/parodontitistherapie_Prof_Dr_Jentsch?utm_source=zahnmedizin-hp-dzw&utm_medium=banner&utm_campaign=banner-dzw-online_181201">
              <div class="field "> <a
                  href="https://www.e-wise.de/parodontitistherapie_Prof_Dr_Jentsch?utm_source=zahnmedizin-hp-dzw&utm_medium=banner&utm_campaign=banner-dzw-online_181201" hreflang="de">Veranstaltung</a></div>
                              </div>
                            </div>
            </span>
        <div class="caption caption-teaser">
          <h3 class="roofline">
            <a href="https://www.e-wise.de/parodontitistherapie_Prof_Dr_Jentsch?utm_source=zahnmedizin-hp-dzw&utm_medium=banner&utm_campaign=banner-dzw-online_181201" target="_self">
            </a>
          </h3>
          <h2 class="text-headline">
            <a href="https://www.e-wise.de/parodontitistherapie_Prof_Dr_Jentsch?utm_source=zahnmedizin-hp-dzw&utm_medium=banner&utm_campaign=banner-dzw-online_181201" target="_self">
              <div>Parodontitistherapie in der allg. Zahnarztpraxis</div>
              <span class="identifier">[ Advertorial ]</span>
            </a>
          </h2>
        </div>
      </article>
      <!-- VIDEO DES Monats END -->
    </div>
  </div>
</div></div>
