{% extends "@infinite/node/node.html.twig" %}

{% block content_header %}
    {% block sponsored %}
        {% include '@infinite/node/twig-block-sponsored.html.twig' %}
    {% endblock %}
    {% block channel %}
        <div class="channel">
            {{ content.field_channel }}
        </div>
    {% endblock %}
    {% block roofline %}
        <h2 class="roofline">
            <a href="{{ url }}" target="_self">{{ content.field_roofline }}</a>
        </h2>
    {% endblock %}
    {% if has_header_block %}
        <h2 class="text-headline text-headline-size-h1">{{ label }}</h2>
    {% else %}
        <h1 class="text-headline text-headline-size-h1">{{ label }}</h1>
        {% if node.field_advertorial.value == "1" %}
            <div class="identifier">Anzeige</div>
        {% endif %}
    {% endif %}
    {{ author_teaser }}
{% endblock %}

{% block content_highlighted %}
    {% if content.field_top_paragraphs|render %}
        {{ content.field_top_paragraphs }}
    {% endif %}
{% endblock %}

{% block content_body %}
    {% if content.field_paragraphs['#items'] %}
        {{ content.field_paragraphs }}
        {% block author %}
            <div class="article_author">Artikel von: {{ author_name }}</div>
        {% endblock %}
        {{ content.field_tags }}
    {% endif %}
{% endblock %}
