{# Add wrapper classes #}
{% set wrapper_classes = [
    'teaser',
    'contextual-region',
] %}

{% set attributes = attributes.setAttribute('data-nid', nid) %}
<article{{ attributes.addClass(wrapper_classes) }}>
    <div class="img-container" itemscope="" itemtype="http://schema.org/imageObject" data-internal-url="{{ url }}">
        {% block teaser_img_container %}
            {% if (view_mode == 'presenter_half' and content.field_presenter_media['#items'] is not empty) %}
                {{ content.field_presenter_media }}
            {% else %}
                {{ content.field_teaser_media }}
            {% endif %}
        {% endblock %}
    </div>
    {% block channel %}
        <span class="article-card-taxonomy-container">
                     <div class="channel">
                         {{ content.field_channel }}
                     </div>
                   </span>
    {% endblock %}
    <div class="caption caption-teaser">
        {% block sponsored %}
            {% include '@infinite/node/twig-block-sponsored.html.twig' %}
        {% endblock %}
        {% block roofline %}

        {% endblock %}
        {% block teaser_text_headline %}
            <h2 class="text-headline">
                <a href="{{ url }}" target="_self" rel="bookmark">{{ label }}</a>
                {% block advertorial_caption %}
                {% endblock %}
            </h2>
        {% endblock %}
        {% if node.field_advertorial.value != '0' %}
            <span class="identifier">Anzeige</span>
        {% endif %}
        {% block teaser_text %}
            {% if  content.field_teaser_text %}
                <div class="teaser_text">
                    {% set text = content.field_teaser_text|render|striptags %}
                    {{ text|length > 208 ? text|slice(0, 208) ~ ' ...' : text }}
                </div> <!-- mizu todo: no time for a documentation uargh -->
            {% endif %}
        {% endblock %}

        {% block teaser_author %}
            {{ author_teaser }}
        {% endblock %}
        {% block teaser_content %}{% endblock %}
        <div class="socials socials-bar">
            {% block teaser_social_bar %}
                {% embed '@infinite/embeds/social_icons.html.twig' with {'facebook_share_button': '', 'whatsapp_share_button': '', 'pinterest_share_button': '', 'twitter_share_button': '', 'email_share_button': ''} %}
                {% endembed %}
            {% endblock %}
        </div>
    </div>
    {% if (show_contextual_links) %}
        {{ title_suffix.contextual_links }}
    {% endif %}
</article>
